*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    //This defines what 1rem is 62.5% = 10px
    font-size: 62.5%;

    @include respond(big-desktop){ //width > 1800px?
        font-size: 75%;
    }
    @include respond(tab-land){ //width < 1200px?
        font-size: 56.25%;
    }
    @include respond(tab-port){ //width < 900px?
        font-size: 50%;
    }
    
    
}

body {
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}