body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #000;
    
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 8rem;
    animation: moveInTop 5s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2rem;
        padding-left: 1rem;
        animation: moveInTop 5s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;

        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 5rem;
            
        }
    }
    &--sub {
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 1rem;
        animation: moveInTop 5s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards; 

        @include respond(phone){
            letter-spacing: .5rem;
        }
    }

    &--quote {
        display: block;
        font-size: 10rem;
        font-weight: 400;
        letter-spacing: 2rem;
        padding-left: 2.2rem;
        color: $color-white;
        text-transform: uppercase;
        backface-visibility: hidden;
        opacity: 0;
        margin-bottom: 14rem;

        animation: fadeIn 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards; 
        
        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 5rem;
            width: 93%;
        }
    }

    &-about{

        color: $color-white;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 8rem;
        animation: fadeIn 5s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;

        &--about {
            display: block;
            font-size: 3rem;
            font-weight: 400;
            margin-top: 7rem;
            letter-spacing: 1rem;
            
            @include respond(phone){
                letter-spacing: .5rem;
                width: 80vw;
                text-align: center;
                font-size: 2.6rem;
            }
        }
    }
    
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-1, $color-primary-2);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(tab-port){
        font-size: 3rem;
    }

    @include respond(phone){
        font-size: 2.5rem;
    }

}

.heading-tertiary {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}