.amazon-item {

    // MAKE INTO GRID

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 320px;
    white-space: normal;
    background-color: #ddd;
    border-radius: 2px;

    &__img {
        height: auto;
        width: 70%;
        padding: 1rem;

        &--container {
            background-color: #ccc;
        }
    }

    &__title {
        color: #111;
        padding: .5rem 1.5rem;
        font-size: 1.4rem;
    }

    &__price {
        color: #B12704;
        padding: .5rem 1.5rem;
        font-weight: 700;
        font-size: 2rem;
    }

    &__btn {
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        background-color: #f0c14b;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
        width: 100%;
        padding: .5rem 1rem;
        border-radius: 2px;

        &:active,
        &:visited,
        &:link {
            color: #0066c0;
        }

        &:hover {
            background-color: #fdaf27;
            color: #025195;
        }
    }
}