.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: $default-font-size;
        transition: all .1s;
        position: relative;        
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
    }
}

.btn-text {
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 4px;
        font-size: $default-font-size;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        transform: translateY(-3px);
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
    }
}

.btn-home,
.btn-profile {

    &__btn,
    &__btn-add,
    &__btn-home {

        margin:2rem;
        border: none;

        &,
        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding: 1.5rem 4rem;
            display: inline-block;
            border-radius: 0rem;
            font-size: $default-font-size;
            transition: all .2s;
            position: relative;
            color: $color-navy-1;
        }

        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
            background-color: $color-primary-1;
        }

        &:active {
            outline: none;
            transform: translateY(.1rem);
            box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
        }
    }

    &__btn-home {
        position: absolute;
        top: 82%;
        left: 42%;
        
    }
}

@media only screen and (max-width: 37.5em){ //600px

    .btn-profile__btn-home {
        position: relative;
        top: 1250%;
        left: 0;
    }
    
}