////////////////////////////////////////////////////////////
// YOUTUBE CAROUSEL

.row--youtube {
	max-width: $grid-width;
    margin: 0 auto;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	scrollbar-color: $color-primary-1 rgba($color-black-1, 0.3);
}

.row__inner {
	transition: 450ms transform;
	font-size: 0;
	white-space: nowrap;
	margin: 50px 0;
	padding: 0 50px;
	padding-bottom: 10px;
}

.container {
	display: flex;
	flex-direction: column;
}

.tile {
	position: relative;
	display: inline-block;
	width: 550px;
	height: 340.625px;
	margin: 20px;
	font-size: 20px;
	cursor: pointer;
	transition: 450ms all;
	transform-origin: left;

	&--yt__fav-btn {
		&,
		&:link,
		&:visited {
			text-transform: uppercase;
			text-decoration: none;
			padding: .5rem 1rem;
			width: 90%;
			margin: 1.5rem;
			display: inline-block;
			border-radius: 1px;
			font-size: $default-font-size;
			transition: all .1s;
			position: relative;
			background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
			box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
			
		}

		&:hover {
			background: linear-gradient(to bottom,#fff,#fff);
			cursor: pointer;
			box-shadow: 0 1rem 2rem rgba($color-black,.2);
		}

		&:active,
		&:focus {
			outline: none;
			box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
		}
	}
}

// .row__inner:hover {
// 	transform: translate3d(-62.5px, 0, 0);
// }

.row__inner:hover .tile {
	opacity: 0.3;
}

.row__inner:hover .tile:hover {
	// transform: scale(1.5);
	opacity: 1;
}

// .tile:hover ~ .tile {
// 	transform: translate3d(125px, 0, 0);
// }

///////////////////////////////////////////////////////////
// AMAZON CAROUSEL

.row--amazon {
	max-width: $grid-width;
    margin: 0 auto;
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	height: 650px;
	width: 100%;
	scrollbar-color: $color-primary-1 rgba($color-black-1, 0.3);
}

.row__inner-amazon {
	transition: 450ms transform;
	font-size: 0;
	white-space: nowrap;
	margin: 50px 0;
	padding: 0 50px;
	padding-bottom: 10px;
	height: 600px;
	display: flex;
}


.tile-amazon {
	position: relative;
	display: inline-block;
	width: 290px;
	height: auto;
	margin: 10px 50px;
	font-size: 20px;
	transition: 450ms all;
	transform-origin: left;
}
