.home {

    overflow-x: hidden;
    background-color: #6C8F32;

    &--intro {
        
        &__quote {
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./images/landingavocado.jpg");
            background-size: cover;
            width: 100%;
            height: 100vh;            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

    }

    &--main {
        &__benefits {
            
            padding-top: 10rem;
            height: 100%;
            background-color: #eee;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--img {
                height: 60px;
                width: auto;
                margin: -4rem 0 4rem 0;
            }

            &--carousel {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    
        &__nutrition {
            padding-top: 15rem;
            height: 100%;
            background-color: #fff;

            &--img {
                height: 100px;
                width: auto;
                margin: 5rem 0;
            }

            &--carousel {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &--link {
                height: 240px;
                width: 100%;                
            }
            
        }
        &__celebrities {
            padding-top: 15rem;
            height: 120vh;
            background-color: #ddd;

            &--img {
                height: 100px;
                width: auto;
                margin: 5rem 0;
            }

            &--carousel {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &--link {
                height: 240px;
                width: 100%;                
            }
        }
    
    }
}

.nutrition {

    padding: 0 0 5rem;

    &-title {
        color: #1e3809;
        text-transform: uppercase;
        font-size: 3.5rem;
        padding: 0 0 5rem;
        letter-spacing: 2rem;
    }

    &-heading {
        color: #356211;
        padding-bottom: 2rem;
        font-size: 2.5rem;
    }

    &-description {
        color: #222;
        padding-bottom: 2rem;
        font-size: 2rem;
        width: 100%;
    }
}


@media only screen and (max-width: 75em){ //1200px
	
}

@media only screen and (max-width: 56.25em){ //900px
	
}

@media only screen and (max-width: 37.5em){ //600px
	.home--main__youtube--img {
        height: 40px;
    }

    .home--main__amazon--img {
        height: 70px;
    }
}

.home--intro__quote {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./images/landingavocado.jpg");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100vh;            
            display: flex;
            justify-content: center;
            align-items: center;
}

.tomato_man {
    height: 200px;
    width: auto;
}
.benefit {
    width: 100%;
    padding: 3rem;

    &-title {
        color: #1e3809;
        text-transform: uppercase;
        font-size: 2.5rem;
        padding: 0 0 5rem;
        letter-spacing: 2rem;
    }

    &-heading {
        color: #356211;
        padding-bottom: 2rem;
        font-size: 2.5rem;
    }

    &-description {
        color: #222;
        padding-bottom: 2rem;
        font-size: 1.5rem;
        width: 100%;
    }
}