.footer {
    background-color: $color-gray-dark-3;
    padding: 5rem 0;
    font-size: 1.4rem;
    color: $color-gray-light-1;

    @include respond(tab-port){
        padding: 8rem 0;
    }
    

    &__logo-box {
        text-align: center;
        margin-bottom: 4rem;

        @include respond(tab-port){
            margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 10rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-gray-dark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
    
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-gray-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        &:hover,
        &:active {
            color: $color-primary-1;
            text-shadow: 0rem .5rem .4rem $color-black;
            transform: translateY(-.2rem);
        }
    }

    &__copyright {
        border-top: 1px solid $color-gray-dark;
        padding-top: 2rem;
        width: 85%;
        margin: 0 auto;

        @include respond(tab-port){
            width: 100%;
            float: none;
        }
    }
}