.header {
    
    &__logo-box {
        position: relative;
        padding-top: 4rem;
        padding-left: 6rem;
    }
    &__logo {
        background-image: url(./logo/sanspicTextNoBG.svg);
        // background-image: url(./logo/liveStyleLogoText.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 12rem;
        width: 12rem;
        animation: fadeIn 10s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }

    &__logo-box-text {
        display: flex;
        justify-content: center;
        margin-left: 3rem;
        animation: moveInBottom 5s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }
    &__logo-text {
        background-image: url(./logo/liveStyleLogoText.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 15rem;
        width: 30rem;
        animation: moveInBottom 5s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }
    
    &__text-box {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fadeOut 6s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }
    &__text-box-about {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fadeIn 10s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }
}