.navigation {
    & > *:not(:last-child) {
        animation: fadeIn 10s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
    }

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-primary-1;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
        

        @include respond(tab-port){
            top: 4rem;
            right: 4rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-navy-1, $color-navy-2);
        z-index: 1000;
        transition: all .7s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(tab-port){
            top: 4.5rem;
            right: 4.5rem;
        }
    }

    &__nav {
        height: 100vh;
        width: 0%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        transition: all .7s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__list {
        @include centerHorVer;
        list-style: none;
        text-align: center;

    }

    &__item {
        padding: 1rem;
        
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            padding: 1rem 2rem;
            font-weight: 300;
            color: $color-primary-1;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-primary-1 50%);
            background-size: 225%;
            transition: all .4s;

            @include respond(phone){
                background-image: linear-gradient(120deg, transparent 0%, transparent 60%, $color-primary-1 60%);
            }
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-navy-1;
            transform: translateX(1rem);

            @include respond(phone){
                background-size: 300%;
            }
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }


    &__icon {
        position: relative;
        margin-top: 3.5rem;
                
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-gray-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon:before {
        transform: rotate(135deg);
        top: 0;
    }

    &__checkbox:checked + &__button &__icon:after {
        transform: rotate(-135deg);
        top: 0;
    }
}