.App {
  text-align: center;
  height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(5,6,8, 0.6),
        rgba(0,0,0,0.6));
    background-size: cover;
    background-position: top;
    
}