/*
0-600px = phone
600-900px = tablet portait
900-1200px = tablet landscape
1200-1800px = normal desktop
1800px+ = big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid >  page layout > components

1rem = 10px = 62.5% font size
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  scrollbar-color: #F79348;
  scrollbar-width: thin;
  overflow-x: hidden; }

::selection {
  background-color: #558303;
  color: #333; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30rem); }
  80% {
    opacity: .9;
    transform: translateY(0); }
  90% {
    opacity: 0;
    transform: translateY(0);
    display: none;
    visibility: hidden; }
  100% {
    transform: translateY(-1000rem); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30rem); }
  80% {
    opacity: .9;
    transform: translateY(0); }
  90% {
    opacity: 0;
    transform: translateY(0);
    display: none;
    visibility: hidden; }
  100% {
    transform: translateY(-1000rem); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%); }
  50% {
    opacity: 1; }
  99% {
    opacity: 1;
    transform: translate(-50%, -50%); }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    transform: translate(-1000%, -1000%); } }

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%); }

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #558303;
  border-right: 5px solid #558303;
  transform: rotate(45deg);
  margin: -10px;
  animation: animateScroll 2s infinite; }

.arrow span:nth-child(2) {
  animation-delay: -0.2s; }

.arrow span:nth-child(3) {
  animation-delay: -0.4s; }

@keyframes animateScroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 8rem;
  animation: moveInTop 5s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    padding-left: 1rem;
    animation: moveInTop 5s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: moveInTop 5s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }
  .heading-primary--quote {
    display: block;
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: 2rem;
    padding-left: 2.2rem;
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    opacity: 0;
    margin-bottom: 14rem;
    animation: fadeIn 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--quote {
        letter-spacing: 1rem;
        font-size: 5rem;
        width: 93%; } }
  .heading-primary-about {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 8rem;
    animation: fadeIn 5s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }
    .heading-primary-about--about {
      display: block;
      font-size: 3rem;
      font-weight: 400;
      margin-top: 7rem;
      letter-spacing: 1rem; }
      @media only screen and (max-width: 37.5em) {
        .heading-primary-about--about {
          letter-spacing: .5rem;
          width: 80vw;
          text-align: center;
          font-size: 2.6rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #558303, #F79348);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.8rem;
  transition: all .1s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 4px;
  font-size: 1.8rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-home__btn, .btn-home__btn-add, .btn-home__btn-home,
.btn-profile__btn,
.btn-profile__btn-add,
.btn-profile__btn-home {
  margin: 2rem;
  border: none; }
  .btn-home__btn, .btn-home__btn:link, .btn-home__btn:visited, .btn-home__btn-add, .btn-home__btn-add:link, .btn-home__btn-add:visited, .btn-home__btn-home, .btn-home__btn-home:link, .btn-home__btn-home:visited,
  .btn-profile__btn,
  .btn-profile__btn:link,
  .btn-profile__btn:visited,
  .btn-profile__btn-add,
  .btn-profile__btn-add:link,
  .btn-profile__btn-add:visited,
  .btn-profile__btn-home,
  .btn-profile__btn-home:link,
  .btn-profile__btn-home:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 0rem;
    font-size: 1.8rem;
    transition: all .2s;
    position: relative;
    color: #333; }
  .btn-home__btn:hover, .btn-home__btn-add:hover, .btn-home__btn-home:hover,
  .btn-profile__btn:hover,
  .btn-profile__btn-add:hover,
  .btn-profile__btn-home:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #558303; }
  .btn-home__btn:active, .btn-home__btn-add:active, .btn-home__btn-home:active,
  .btn-profile__btn:active,
  .btn-profile__btn-add:active,
  .btn-profile__btn-home:active {
    outline: none;
    transform: translateY(0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-home__btn-home,
.btn-profile__btn-home {
  position: absolute;
  top: 85%;
  left: 49%;
  transform: translate(-50%, -50%); }
  .btn-home__btn-home:hover,
  .btn-profile__btn-home:hover {
    transform: translate(-50%, -55%); }
  .btn-home__btn-home:active,
  .btn-profile__btn-home:active {
    transform: translate(-50%, -49%); }

@media only screen and (max-width: 37.5em) {
  .btn-profile__btn-home {
    position: relative;
    top: 800%;
    left: 30%;
    transform: translate(-50%, -50%); } }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%; }
  .card__heading-span {
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 2rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 200; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0);
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-only {
        font-size: 2rem; }
      .card__price-value {
        font-size: 4rem;
        font-weight: 300; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .1s;
    z-index: 10;
    outline-offset: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 50; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.8rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story > * {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story > * {
        transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: scale(1.6) translateX(-2rem);
    transition: all .25s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .25s; }
  .story:hover .story__img {
    filter: blur(3px) brightness(80%);
    transform: scale(1.4) translateX(-2rem); }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.bg-video-fav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden; }
  .bg-video-fav__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form {
  padding: 18rem 10rem; }
  .form--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .form--form > * {
      margin: 2rem 0; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: #eee;
    border-bottom: 3px solid transparent;
    width: 50%;
    display: block;
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #558303; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-input {
    display: none; }
  .form__radio-group {
    width: 49%;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .form__radio-group {
        width: 100%;
        margin-bottom: 2rem; } }
  .form__radio-label {
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    padding-left: 4rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #55c57a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #55c57a;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }

.home {
  overflow-x: hidden;
  background-color: #6C8F32; }
  .home--intro__quote {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/landingavocado.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .home--main__benefits {
    padding-top: 10rem;
    height: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .home--main__benefits--img {
      height: 60px;
      width: auto;
      margin: -4rem 0 4rem 0; }
    .home--main__benefits--carousel {
      display: flex;
      justify-content: center;
      align-items: center; }
  .home--main__nutrition {
    padding-top: 15rem;
    height: 100%;
    background-color: #fff; }
    .home--main__nutrition--img {
      height: 100px;
      width: auto;
      margin: 5rem 0; }
    .home--main__nutrition--carousel {
      display: flex;
      justify-content: center;
      align-items: center; }
    .home--main__nutrition--link {
      height: 240px;
      width: 100%; }
  .home--main__celebrities {
    padding-top: 15rem;
    height: 120vh;
    background-color: #ddd; }
    .home--main__celebrities--img {
      height: 100px;
      width: auto;
      margin: 5rem 0; }
    .home--main__celebrities--carousel {
      display: flex;
      justify-content: center;
      align-items: center; }
    .home--main__celebrities--link {
      height: 240px;
      width: 100%; }

.nutrition {
  padding: 0 0 5rem; }
  .nutrition-title {
    color: #1e3809;
    text-transform: uppercase;
    font-size: 3.5rem;
    padding: 0 0 5rem;
    letter-spacing: 2rem; }
  .nutrition-heading {
    color: #356211;
    padding-bottom: 2rem;
    font-size: 2.5rem; }
  .nutrition-description {
    color: #222;
    padding-bottom: 2rem;
    font-size: 2rem;
    width: 100%; }

@media only screen and (max-width: 37.5em) {
  .home--main__youtube--img {
    height: 40px; }
  .home--main__amazon--img {
    height: 70px; } }

.home--intro__quote {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/landingavocado.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.tomato_man {
  height: 200px;
  width: auto; }

.benefit {
  width: 100%;
  padding: 3rem; }
  .benefit-title {
    color: #1e3809;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 0 0 5rem;
    letter-spacing: 2rem; }
  .benefit-heading {
    color: #356211;
    padding-bottom: 2rem;
    font-size: 2.5rem; }
  .benefit-description {
    color: #222;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    width: 100%; }

.profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgba(34, 34, 34, 0.9); }
  .profile--heading__text {
    font-size: 4rem;
    font-weight: 400;
    margin-left: 1rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .profile--form {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -70%); }
    .profile--form__input {
      width: 30rem;
      padding: 1rem 2rem;
      font-size: 2rem;
      border: none;
      background-color: #ccc;
      transition: all .2s; }
      .profile--form__input:hover, .profile--form__input:active, .profile--form__input:focus {
        background-color: #f7f7f7; }
    .profile--form__button {
      margin: 40px 0 40px -80px;
      border: none;
      padding: 1rem 3.5rem 1rem 3.5rem;
      border-radius: 2rem;
      background-color: darkgreen;
      color: #fff;
      transition: all .2s;
      font-size: 2rem;
      font-weight: 700; }
      .profile--form__button:hover, .profile--form__button:active, .profile--form__button:focus {
        background-color: #007800; }
  .profile--list {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.8rem 5rem;
    text-transform: uppercase; }
    .profile--list__ul {
      list-style: none;
      width: 30rem;
      height: auto; }
    .profile--list__container {
      padding: 1.5rem 5rem;
      display: flex;
      justify-content: space-between; }
      .profile--list__container:not(:last-child) {
        border-bottom: 1px solid #ddd; }
    .profile--list__item {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500; }
    .profile--list__icon {
      cursor: pointer;
      font-size: 2rem;
      color: #FF3126;
      padding: .5rem 0 0 1.5rem; }
  .profile--button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 100px 0 40px 0;
    border: none;
    padding: 1rem 3.5rem 1rem 3.5rem;
    border-radius: 2rem;
    background-color: darkgreen;
    color: #fff;
    transition: all .2s;
    font-size: 2rem;
    font-weight: 700; }
    .profile--button:hover, .profile--button:active, .profile--button:focus {
      background-color: #007800; }

@media only screen and (max-width: 37.5em) {
  .profile {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh; }
    .profile--form__input {
      width: 30rem; }
    .profile--form__button {
      margin: 40px 0;
      width: 50%; }
    .profile--form {
      top: 47%; }
    .profile--list__ul {
      width: 25rem;
      height: auto; }
    .profile--list {
      top: 67%; }
    .profile--button {
      margin: 85px 0 40px 0;
      padding: .5rem;
      font-size: 1.8rem;
      width: 40%; }
    .profile--heading__text {
      font-size: 3rem;
      top: 24%;
      width: 100%; } }

.amazon-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 320px;
  white-space: normal;
  background-color: #ddd;
  border-radius: 2px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .amazon-item__img {
    object-fit: cover;
    width: 90%;
    margin: 1rem 0; }
    .amazon-item__img--container {
      min-height: 250px; }
  .amazon-item__text {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    padding-top: 10px; }
  .amazon-item__title {
    color: #111;
    padding: .5rem 1.5rem;
    font-size: 1.4rem; }
  .amazon-item__price {
    color: #B12704;
    padding: .5rem 1.5rem;
    font-weight: 700;
    font-size: 2rem; }
  .amazon-item__btn-buy {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    width: 100%;
    display: block;
    padding: .5rem 1rem;
    border-radius: 2px;
    transition: all .2s ease-in-out; }
    .amazon-item__btn-buy:active, .amazon-item__btn-buy:visited, .amazon-item__btn-buy:link {
      color: #0066c0; }
    .amazon-item__btn-buy:hover {
      background-color: #fdaf27;
      color: #025195; }
  .amazon-item__btn-fav {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    padding: .7rem 1rem;
    transition: all .2s ease-in-out;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset; }
    .amazon-item__btn-fav:hover {
      background: linear-gradient(to bottom, #fdaf27, #fdaf27);
      color: #025195;
      border: none;
      cursor: pointer; }
    .amazon-item__btn-fav:active {
      background: linear-gradient(to bottom, #ec9b22, #ec9b22);
      border: none;
      transform: translate3d(0, 0.1rem, 0);
      outline: none;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .amazon-item__btn-fav__success {
      color: #16a31d;
      opacity: 0;
      margin: 0 -1rem 0 1rem; }
    .amazon-item__btn-fav:focus .amazon-item__btn-fav__success {
      animation: favSuccess 2s ease-in-out; }
    .amazon-item__btn-fav__remove {
      color: #fd161d90;
      opacity: 0;
      margin: 0 -1rem 0 1rem; }
    .amazon-item__btn-fav:focus .amazon-item__btn-fav__remove {
      animation: favRemove 2s ease-in-out; }

@keyframes favSuccess {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes favRemove {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 37.5em) {
  .amazon-item {
    height: 250px;
    width: 200px; } }

.row--youtube {
  max-width: 114rem;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  scrollbar-color: #558303 rgba(5, 6, 8, 0.3); }

.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 50px 0;
  padding: 0 50px;
  padding-bottom: 10px; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.tile {
  position: relative;
  display: inline-block;
  width: 550px;
  height: 340.625px;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: left; }
  .tile--yt__fav-btn, .tile--yt__fav-btn:link, .tile--yt__fav-btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
    width: 90%;
    margin: 1.5rem;
    display: inline-block;
    border: none;
    font-size: 1.8rem;
    transition: all .2s ease-in-out;
    position: relative;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset; }
  .tile--yt__fav-btn:hover {
    background: linear-gradient(to bottom, #558303, #558303);
    border: none;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -0.2rem, 0); }
  .tile--yt__fav-btn:active {
    background: linear-gradient(to bottom, #ec9b22, #ec9b22);
    border: none;
    transform: translate3d(0, 0.1rem, 0);
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .tile--yt__fav-btn__success {
    color: #16a31d;
    opacity: 0;
    margin: 0 -3rem 0 1rem; }
  .tile--yt__fav-btn:focus .tile--yt__fav-btn__success {
    animation: favSuccess 2s ease-in-out; }
  .tile--yt__fav-btn__remove {
    color: #fd161d90;
    opacity: 0;
    margin: 0 -1rem 0 1rem; }
  .tile--yt__fav-btn:focus .tile--yt__fav-btn__remove {
    animation: favRemove 2s ease-in-out; }

@keyframes favSuccess {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes favRemove {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.row__inner:hover .tile {
  opacity: 0.3; }

.row__inner:hover .tile:hover {
  opacity: 1; }

.row--amazon {
  max-width: 114rem;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  height: 650px;
  width: 100%;
  scrollbar-color: #558303 rgba(5, 6, 8, 0.3); }

.row__inner-amazon {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 50px 0;
  padding: 0 50px;
  padding-bottom: 10px;
  height: 600px;
  display: flex; }

.tile-amazon {
  position: relative;
  display: inline-block;
  width: 290px;
  height: auto;
  margin: 10px 50px;
  font-size: 20px;
  transition: 450ms all;
  transform-origin: left; }

.row__inner-amazon:hover .tile-amazon {
  opacity: 0.7; }

.row__inner-amazon:hover .tile-amazon:hover {
  opacity: 1; }

@media only screen and (max-width: 75em) {
  .row--youtube {
    max-width: 90rem; }
  .tile {
    width: 400px;
    height: 280px; }
    .tile--yt__fav-btn {
      margin-left: 1.75rem; }
  .row--amazon {
    max-width: 90rem; }
  .tile-amazon {
    width: 450px;
    height: 240.625px; } }

@media only screen and (max-width: 56.25em) {
  .row--youtube {
    max-width: 70rem; }
  .tile {
    width: 300px;
    height: 210px; }
  .row--amazon {
    max-width: 70rem; }
  .tile-amazon {
    width: 130px;
    height: 500px; } }

@media only screen and (max-width: 37.5em) {
  .row--youtube {
    max-width: 45rem; }
  .row__inner {
    padding: 0; }
  .tile {
    width: 250px;
    height: 215px; }
  .row--amazon {
    max-width: 45rem; }
  .row__inner-amazon {
    padding: 0; }
  .tile-amazon {
    width: 150px;
    height: 400px; } }

.popup {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2002;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: all .4s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    box-shadow: 0 1rem 3rem #000;
    color: #000;
    background-color: #fff;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .5s; }
  .popup__left {
    width: 33.33333%;
    display: table-cell; }
    @media only screen and (max-width: 75em) {
      .popup__left {
        display: flex;
        flex-direction: row;
        width: auto;
        object-fit: cover;
        height: auto; } }
    @media only screen and (max-width: 56.25em) {
      .popup__left {
        display: flex;
        flex-direction: row;
        width: auto;
        object-fit: cover;
        height: auto; } }
    @media only screen and (max-width: 37.5em) {
      .popup__left {
        display: none; } }
  .popup__right {
    width: 66.66666%;
    display: table-cell;
    padding: 3rem 5rem;
    vertical-align: middle; }
    @media only screen and (max-width: 75em) {
      .popup__right {
        display: inline-block;
        padding: 5rem;
        width: 100%;
        position: relative; } }
    @media only screen and (max-width: 56.25em) {
      .popup__right {
        display: inline-block;
        padding: 5rem;
        width: 100%;
        position: relative; } }
    @media only screen and (max-width: 37.5em) {
      .popup__right {
        width: 100%; }
        .popup__right .heading-secondary {
          font-size: 2rem;
          letter-spacing: 0; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .popup__img {
        display: inline;
        float: left; } }
  .popup__text {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
    .popup__text--dots {
      display: none; }
      @media only screen and (max-width: 75em) {
        .popup__text--dots {
          display: none; } }
      @media only screen and (max-width: 56.25em) {
        .popup__text--dots {
          display: inline; } }
      @media only screen and (max-width: 37.5em) {
        .popup__text--dots {
          display: inline; } }
    .popup__text--more {
      display: inline; }
      @media only screen and (max-width: 75em) {
        .popup__text--more {
          display: inline; } }
      @media only screen and (max-width: 56.25em) {
        .popup__text--more {
          display: none; } }
      @media only screen and (max-width: 37.5em) {
        .popup__text--more {
          display: none; } }
    @media only screen and (max-width: 56.25em) {
      .popup__text {
        column-count: 1; } }
    @media only screen and (max-width: 37.5em) {
      .popup__text {
        column-count: 1; } }
  .popup__text-button {
    display: flex;
    flex-direction: column; }
  .popup__readbtn {
    display: none;
    background-color: #eee;
    color: #777;
    border: 0;
    padding: .5rem 1rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__readbtn {
        display: inline;
        width: 30%;
        margin-bottom: 5rem;
        cursor: pointer;
        transition: all .1s; }
        .popup__readbtn:hover {
          transform: translateY(-0.3rem);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .popup__readbtn:active, .popup__readbtn:focus {
          outline: none;
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); } }
    @media only screen and (max-width: 37.5em) {
      .popup__readbtn {
        display: inline;
        width: 60%;
        margin-bottom: 5rem;
        cursor: pointer;
        transition: all .1s; }
        .popup__readbtn:hover {
          transform: translateY(-0.3rem);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .popup__readbtn:active, .popup__readbtn:focus {
          outline: none;
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
    @media only screen and (max-width: 56.25em) {
      .popup__close:link, .popup__close:visited {
        position: absolute;
        left: 90%;
        padding: 0; } }
    @media only screen and (max-width: 37.5em) {
      .popup__close:link, .popup__close:visited {
        position: absolute;
        left: 85%;
        padding: 0; } }
  .popup__close:hover {
    color: #ff2600; }

.youtube-fav {
  background-color: rgba(34, 34, 34, 0.9); }
  .youtube-fav__logo {
    background-image: url(./logo/sanspicTextNoBG.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 12rem;
    width: 12rem; }
    .youtube-fav__logo-box {
      position: relative;
      padding-top: 4rem;
      padding-left: 6rem; }
  .youtube-fav--main {
    padding-top: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .youtube-fav--intro__quote {
    margin-top: 5rem;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .youtube-fav--quote {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    padding-left: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    opacity: 0;
    margin-bottom: 14rem;
    animation: fadeIn 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }
    @media only screen and (max-width: 37.5em) {
      .youtube-fav--quote {
        letter-spacing: 1rem;
        font-size: 5rem;
        width: 93%; } }
  .youtube-fav--img {
    height: 60px;
    width: auto;
    margin: 0 0 4rem 0; }
  .youtube-fav--grid {
    margin: 10rem 2rem 20rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr)); }
  .youtube-fav--video {
    width: 550px;
    height: 340.625px;
    margin: 5rem auto; }
  .youtube-fav--search {
    border: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    margin: 10rem auto 0; }

@media only screen and (max-width: 37.5em) {
  .youtube-fav--video {
    height: 180px;
    width: 300px; }
  .youtube-fav--grid {
    margin: 5rem 2px;
    width: auto; }
  .youtube-fav--img {
    height: 50px; }
  .youtube-fav {
    overflow-x: hidden; } }

.amazon-fav {
  background-color: rgba(34, 34, 34, 0.9); }
  .amazon-fav__logo {
    background-image: url(./logo/sanspicTextNoBG.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 12rem;
    width: 12rem; }
    .amazon-fav__logo-box {
      position: relative;
      padding-top: 4rem;
      padding-left: 6rem; }
  .amazon-fav--main {
    padding-top: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .amazon-fav--intro__quote {
    margin-top: 5rem;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .amazon-fav--quote {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    padding-left: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    opacity: 0;
    margin-bottom: 14rem;
    animation: fadeIn 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }
    @media only screen and (max-width: 37.5em) {
      .amazon-fav--quote {
        letter-spacing: 1rem;
        font-size: 5rem;
        width: 93%; } }
  .amazon-fav--img {
    height: 90px;
    width: auto; }
  .amazon-fav--grid {
    margin: 10rem 2rem 20rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); }
  .amazon-fav--item {
    width: 320px;
    height: 500px;
    margin: 5rem auto; }
  .amazon-fav--search {
    border: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    margin: 10rem auto 0; }

@media only screen and (max-width: 37.5em) {
  .amazon-fav--grid {
    margin: 5rem 2px;
    width: auto; }
  .amazon-fav--item {
    width: 200px;
    height: 450px; }
  .amazon-fav--img {
    height: 80px; } }

.header {
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.9); }
  .header__logo-box {
    position: relative;
    padding-top: 4rem;
    padding-left: 6rem; }
  .header__logo {
    background-image: url(./logo/sanspicTextNoBG.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 12rem;
    width: 12rem;
    animation: fadeIn 10s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }
  .header__logo-box-text {
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    animation: moveInBottom 5s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }
  .header__logo-text {
    background-image: url(./logo/liveStyleLogoText.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 15rem;
    width: 30rem;
    animation: moveInBottom 5s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }
  .header__text-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeOut 6s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }
  .header__text-box-about {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 10s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards; }

@media only screen and (max-width: 37.5em) {
  .header__logo-box {
    padding-top: 2rem;
    padding-left: 4rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer--link {
    display: flex;
    justify-content: center;
    margin-bottom: -1rem; }
    .footer--link > * {
      padding: 2rem; }
    .footer--link__github {
      color: #ccc; }
      .footer--link__github:hover {
        color: #fff; }
      .footer--link__github .fab {
        font-size: 3rem; }
    .footer--link__linkedin {
      color: #0072b1; }
      .footer--link__linkedin:hover {
        color: #0086ce; }
      .footer--link__linkedin .fab {
        font-size: 3rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 10rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 85%;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.navigation > *:not(:last-child) {
  animation: fadeIn 10s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #ccc;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out; }
  .navigation__button:hover {
    background-color: #558303; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#282828, #333);
  z-index: 1000;
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translate3d(50rem, 0, 0); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  padding: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 300;
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #558303 50%);
  background-size: 235%;
  transition: all .4s; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      background-image: linear-gradient(120deg, transparent 0%, transparent 60%, #558303 60%); } }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #050608;
  transform: translateX(0.7rem); }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:hover, .navigation__link:active {
      background-size: 300%; } }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  transform: translate3d(0, 0, 0); }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  transform: rotate(-135deg);
  top: 0; }

@media only screen and (max-width: 37.5em) {
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    font-size: 2.3rem; } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0;
      padding-top: 30rem; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem; }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-stories .u-center-text .heading-secondary {
      width: 60%; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%); } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 70%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
